.heroes {
    padding-top: 16px;
    padding-bottom: 40px;
    &__explanation{
        text-align: center;
        padding-block: 4px;
        border-radius: 6px;
        background-color: var(--color-brown-10);
    }
}
.heroes-wrapper {
    background-color: var(--color-gray-10);
    padding-inline: 4px;
}
